@page "/dashboard"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]


<h1 class="text-center dark-red">Dashboard</h1>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                    <h5 class="card-title dark-red text-center">Product Management</h5>
                    <p class="card-text text-center">Manage all products and articles.</p>
                    <a href="@AppRoutes.Products.Index" class="btn dark-red-btn text-white">Go to Product Management</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                    <h5 class="card-title dark-red text-center">Order Management</h5>
                    <p class="card-text text-center">View all orders and information.</p>
                    <a href="@AppRoutes.Orders.Index" class="btn dark-red-btn text-white">Go to Order Management</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                    <h5 class="card-title dark-red text-center">New Rental Order</h5>
                    <p class="card-text text-center">Start a new rental order.</p>
                    <a href="@AppRoutes.Orders.Create" class="btn dark-red-btn text-white">Start New Rental Order</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                    <h5 class="card-title dark-red text-center">Return Order</h5>
                    <p class="card-text text-center">Accept rented articles from a customer.</p>
                    <a href="@AppRoutes.Orders.Return" class="btn dark-red-btn text-white">Return Order</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                    <h5 class="card-title dark-red text-center">Customer Management</h5>
                    <p class="card-text text-center">Manage customers and their information.</p>
                    <a href="@AppRoutes.Customers.Index" class="btn dark-red-btn text-white">Go to Customer Management</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                    <h5 class="card-title dark-red text-center">Reservation Management</h5>
                    <p class="card-text text-center">Manage reservations and their information.</p>
                    <a href="@AppRoutes.Reservations.Index" class="btn dark-red-btn text-white">Go to Reservation Management</a>
                </div>
            </div>
        </div>
    </div>
</div>














